<template>
    <div id="modal" tabindex="-1" class="modal fade show" style="display: block; background: rgba(0, 0, 0, 0.5);" @dblclick.self="$emit('close')">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit User #{{ user.id }}</h5>
                    <button type="button" class="close" @click="$emit('close')">
                        <span>&times;</span>
                    </button>
                </div>

                <div class="modal-body pb-4">
                    <form id="edit-form" @keydown="$emit('clearErrors', $event.target.name)" @submit.prevent="$emit('update', user.id, user)">
                        <div class="form-row">
                            <div class="col-md-12 mb-2">
                                <label for="name">Name:</label>
                                <input type="text" class="form-control" :class="{ 'is-invalid': hasErrors('name') }" id="name" name="name" placeholder="Name" v-model="user.name" required>
                                <div v-if="hasErrors('name')" class="invalid-feedback" v-text="getErrors('name')"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-2">
                                <label for="email">Email:</label>
                                <input type="email" class="form-control" :class="{ 'is-invalid': hasErrors('email') }" id="email" name="email" placeholder="email@example.com" v-model="user.email" required>
                                <div v-if="hasErrors('email')" class="invalid-feedback" v-text="getErrors('email')"></div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-2">
                                <label for="avatar">Avatar Url:</label>
                                <input type="text" class="form-control" :class="{ 'is-invalid': hasErrors('avatar') }" id="avatar" name="avatar" placeholder="https://images.com/avatar.jpg" v-model="user.avatar">
                                <div v-if="hasErrors('avatar')" class="invalid-feedback" v-text="getErrors('avatar')"></div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary mr-3" @click="$emit('close')">Close</button>
                    <button type="submit" form="edit-form" class="btn btn-primary" :disabled="anyErrors()">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        editedUser: Object,
        errors: Object,
    },
    data() {
        return {
            user: {},
        }
    },
    beforeMount() {
        this.user = this.editedUser;
    },
    methods: {
        anyErrors() {
            return Object.keys(this.errors).length > 0;
        },
        hasErrors(attribute) {
            return this.errors.hasOwnProperty(attribute);
        },
        getErrors(attribute) {
            if (this.hasErrors(attribute)) {
                return this.errors[attribute].join(' ');
            }
        }
    }
}
</script>
