<template>
    <div class="card">
        <div class="card-header text-center">
            <button class="btn btn-secondary btn-sm float-left" @click="getAllUsers">Update List</button>
            <h5 class="d-md-inline-block my-1">Users: {{ filteredUsersCount }}</h5>
            <button class="btn btn-success btn-sm float-right ml-3" @click="openAddModal">Add User</button>
        </div>

        <div class="card-body">

            <div class="form-group row mb-4">
                <div class="col-md-12">
                    <div class="input-group">
                        <input type="text" class="form-control" id="search" placeholder="Type here to search users by name or email." v-model="search">
                        <div class="input-group-append">
                            <button class="btn btn-outline-danger" type="button" id="reset" @click="resetSearch">X</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" v-if="filteredUsersCount">
                <user-card v-for="(user, index) in filteredUsers" :index="index" :user="user" :key="user.id" @edit="openEditModal" @delete="deleteUser"></user-card>
            </div>

            <div class="row" v-else>
                <div class="col-md-12">
                    <p class="card-text">Users not found.</p>
                </div>
            </div>

            <add-modal v-if="addMode" :errors="errors" @clearErrors="clearErrors" @add="addUser" @close="closeAddModal"></add-modal>

            <edit-modal v-if="editMode" :editedUser="editedUser" :errors="errors" @clearErrors="clearErrors" @update="updateUser" @close="closeEditModal"></edit-modal>
        </div>
    </div>
</template>

<script>
import UserCard from './UserCard';
import AddModal from './AddModal';
import EditModal from './EditModal';

export default {
    components: {
        'user-card': UserCard,
        'add-modal': AddModal,
        'edit-modal': EditModal,
    },
    data() {
        return {
            search: '',
            result: '',
            addMode: false,
            editMode: false,
            editedUser: {},
            editedUserIndex: null,
            errors: {},
            users: [],
            filteredUsers: [],
        }
    },
    watch: {
        search: function (newSearch, oldSearch) {
            this.filterUsers();
        }
    },
    computed: {
        usersCount() {
            return this.users.length;
        },
        filteredUsersCount() {
            return this.filteredUsers.length;
        },
    },
    mounted() {
        this.getAllUsers();
    },
    methods: {
        resetSearch() {
            this.search = '';
        },
        getAllUsers() {
            axios.get('/api/users')
                .then(response => this.filteredUsers = this.users = response.data)
                .catch(error => console.log(error));
        },
        filterUsers() {
            if (! this.search) {
                this.filteredUsers = this.users;
            }

            this.filteredUsers = this.users.filter((user) => {
                return user.name.toLowerCase().includes(this.search.toLowerCase()) || user.email.toLowerCase().includes(this.search.toLowerCase());
            });
        },
        clearErrors(attribute) {
            delete this.errors[attribute];
        },
        resetErrors() {
            this.errors = {};
        },
        openAddModal() {
            this.addMode = true;
        },
        addUser(user) {
            axios.post('/api/users',{
                    name: user.name,
                    email: user.email,
                    password: user.password,
                    avatar: user.avatar
                })
                .then(response => {
                    this.users.push(response.data);
                    this.closeAddModal();
                })
                .catch(error => {
                    this.errors = error.response.data.errors;
                    console.log(error);
                });
        },
        closeAddModal() {
            this.addMode = false;
            this.resetErrors();
        },
        openEditModal(id, index) {
            axios.get(`/api/users/${id}`)
                .then(response => {
                    this.editedUser = response.data;
                    this.editedUserIndex = index;
                    this.editMode = true;
                })
                .catch(error => console.log(error));

            // this.editedUser = this.users[index];
            // this.editedUserIndex = index;
            // this.editMode = true;
        },
        updateUser(id, user) {
            axios.put(`/api/users/${id}`,{
                    name: user.name,
                    email: user.email,
                    avatar: user.avatar
                })
                .then(response => {
                    this.$set(this.users, this.editedUserIndex, response.data);
                    this.closeEditModal();
                })
                .catch(error => {
                    this.errors = error.response.data.errors;
                    console.log(error);
                });
        },
        closeEditModal() {
            this.editedUser = {};
            this.editedUserIndex = null;
            this.editMode = false;
            this.resetErrors();
        },
        deleteUser(id, index) {
            axios.delete(`/api/users/${id}`)
                .then(response => {
                    if (response.status === 204) {
                        this.users.splice(index, 1);
                    }
                })
                .catch(error => console.log(error));
        }
    }
}
</script>
