<template>
    <div class="col-md-6">
        <div class="card mb-3">
            <div class="row no-gutters">
                <div class="col-md-2">
                    <img :src="user.avatar" class="card-img" alt="#">
                </div>
                <div class="col-md-8">
                    <div class="card-body p-3">
                        <h5 class="card-title mb-2" v-text="user.name"></h5>
                        <p class="card-text" v-text="user.email"></p>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-primary btn-sm btn-block my-2" @click="$emit('edit', user.id, index)">Edit</button>
                    <button class="btn btn-danger btn-sm btn-block" @click="$emit('delete', user.id, index)">Delete</button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        index: Number,
        user: Object,
    }
}
</script>
