<template>
    <div class="container py-3">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <users-list></users-list>
            </div>
        </div>
    </div>
</template>

<script>
import UsersList from './User/UsersList';

export default {
    components: {
        'users-list': UsersList,
    },
}
</script>
